@import 'src/styles/modules/mixins.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--container-padding-block) var(--container-padding-inline);
  background-color: var(--bg-level-1);
  margin-bottom: 40px;
}

.burgerMenu {
  position: relative;
  color: var(--text-contrast-100);
}

.burgerIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 8px;
  border-radius: 6px;

  &:hover,
  &:focus-visible {
    background-color: var(--brand-primary);
    color: var(--on-brand-primary);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.nav {
  position: absolute;
  z-index: 15;
  background-color: var(--bg-level-1);
  padding: 20px 40px;

  @include breakpoint(0, desktop) {
    width: 100vw;
    right: calc(var(--container-padding-inline) * -1);
  }

  @include breakpoint(desktop) {
    right: 0;
    border-radius: var(--container-radius);
    box-shadow: var(--container-shadow);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: max-content;
  }

  a,
  button {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: inherit;

    &:hover,
    &:focus-visible {
      color: var(--brand-primary);
    }
  }

  &[data-expanded='true'] {
    opacity: 1;
    transform: translateY(0);
  }

  &[data-expanded='false'] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(10%);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms ease-in;
  }
}
