.storyGrid {
  /**
  The below styles allow us to prevent CLS while our theme gets applied to the grid
  1. First, we get the grid width based on our variables
  **/
  --grid-width: var(--container-width);
  /**
  2. Then, we calculate the individual tile width based on the grid width and the number of columns
  */
  --grid-item-width: calc(
    (
        var(--grid-width) -
          (var(--tile-spacing, 8px) * (var(--grid-columns, 2) - 1))
      ) / var(--grid-columns, 2)
  );
  /**
  3. Then, we get the item height based on the width and aspect ratio which is always 3/2
  */
  --grid-item-height: calc(var(--grid-item-width) * (3 / 2));
  /**
  4. Then, we set the grid height based on the estimated number of rows and the item height
  */
  --grid-height: calc(
    (var(--grid-item-height) * var(--grid-rows, 1)) + var(--tile-spacing, 8px) *
      (var(--grid-rows, 1) - 1)
  );
  min-height: var(--grid-height);

  /**
  5. Once the grid has loaded, we can remove the min height in case the grid doesn't have as many items as we thought
  (ie if we set the display limit higher than the amount of Stories/Clips)
  */
  [data-status='success'] & {
    min-height: unset;
  }
}
