@import 'src/styles/modules/mixins.scss';

:root {
  --bg-level-0: rgba(248, 248, 250, 1);
  --bg-level-1: rgba(255, 255, 255, 1);

  --border-high-contrast: rgba(205, 208, 220, 1);
  --border-low-contrast: rgba(66, 75, 106, 0.1);

  --text-contrast-100: rgba(23, 26, 37, 1);
  --text-contrast-80: rgba(66, 75, 106, 1);
  --text-contrast-60: rgba(76, 85, 119, 1);

  --brand-primary: rgba(28, 98, 235, 1);
  --brand-primary-outline: rgba(28, 98, 235, 0.2);

  --on-brand-primary: rgba(255, 255, 255, 1);

  --bg-footer: rgba(23, 26, 37, 1);
  --text-footer-primary: rgba(255, 255, 255, 1);
  --text-footer-secondary: rgba(255, 255, 255, 0.8);
  --text-footer-hover: #b1c7f1;

  --error: rgba(210, 71, 71, 1);
  --error-outline: rgba(210, 71, 71, 0.2);

  --tint: rgba(235, 242, 253, 1);
  --on-tint: rgba(25, 91, 219, 1);

  --container-width: min(calc(100vw - 32px), 1280px);
  --container-padding-block: 16px;
  --container-padding-inline: calc((100vw - var(--container-width)) / 2);

  --button-radius: 46px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  [data-theme='dark'] {
    --bg-level-0: #0d101b;
    --bg-level-1: rgba(23, 26, 37, 1);

    --text-contrast-100: rgba(255, 255, 255, 1);
    --text-contrast-80: rgba(255, 255, 255, 0.8);

    --tint: #0c2d6d;
    --on-tint: rgb(255, 255, 255);
  }
}
